body {
  margin: 0;
  padding-bottom: 100px;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}
.featured-image {
  width: 100vw;
  max-height: 100vh;
}
.title {
  text-align: center;
  padding: 10px 0;
}
a:hover {
  cursor: pointer;
}
.nav-link,
.navbar-brand {
  color: white !important;
}

.active {
  color: #007bff !important;
}

/* Blog body area */
.ql-editor {
  min-height: 250px;
}
